.pointer-event-none {
  pointer-events: none;
}

.logo {
  width: 60px;
  height: 50px;
  padding-right: 0.5rem;
}

.is-auto {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.is-purple {
  color: purple;
}

.alert {
  position: absolute;
  color: white;
  top: 0;
  left: auto;
  right: auto;
  text-align: center;
  font-size: 1.2rem;
  padding: .5rem 1rem;
}

.alert-success {
  background-color: rgb(0, 255, 0);
}

.alert-error {
  background-color: rgba(255, 0, 0, .8);
}

.impacts {
  margin-top: 1rem;
}

.is-hidden {
  display: none;
}

body {
  background-image: linear-gradient(red, violet, purple);
}

.main-container {
  background-color: #ddd;
}